// Typography.
$font-family: BlinkMacSystemFont, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif !default;
$font-size: 16px !default;
$line-height: 1.4em !default;

// Color pallete.
$blue: #00A0D2 !default;
$green: #46B450 !default;
$orange: #FFB900 !default;
$red: #DC3232 !default;

// Default colors.
$color: #444 !default;
$background-color: #FFF !default;

// Measurements.
$min-width: 250px;
$max-width: 500px;
$gutter-width: 10px;
